.SearchResult {
  /* TODO: border should be in ::before to have some horizontal padding */
  border-top: 1px solid #EEE;
  padding: 1rem 0;
}
.SearchResult__first {
  border: none;
  padding-top: 0;
}

.SearchResult a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.SearchResult figure {
  --search-result-size: 100px;
  position: relative;
  height: var(--search-result-size);
  width: var(--search-result-size);
  min-width: var(--search-result-size);
}
.SearchResult figure img {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .SearchResult figure {
    --search-result-size: 195px;
  }
}

.SearchResult_data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SearchResult_dataPrincipal {
  margin-bottom: .5rem;
}

.SearchResult_dataPrincipalTop {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}
.SearchResult_dataPrincipalTop p {
  font-size: 1.5rem;
}
.SearchResult_dataPrincipalTop img {
  height: 1.25rem;
  width: 1.25rem;
}

.SearchResult_title__mobile,
.SearchResult_title__desktop {
  font-size: 1.125rem;
  font-weight: normal;
}
.SearchResult_title__desktop {
  display: none;
}

.SearchResult_dataSecondary {
  font-size: .75rem;
}

@media (min-width: 768px) {
  .SearchResult_data {
    flex-direction: row;
    padding-top: 1rem;
  }

  .SearchResult_dataPrincipal {
    margin-bottom: 1rem;
    width: 100%;
  }

  .SearchResult_dataPrincipalTop {
    margin-bottom: 2rem;
  }

  .SearchResult_title__mobile {
    display: none;
  }
  .SearchResult_title__desktop {
    display: inline;
  }

  .SearchResult_dataSecondary {
    margin-left: 1rem;
    min-width: 200px;
  }
}
