.BaseContent_content,
.BaseContent_breadcrumb {
  margin: .5rem auto;
  width: calc(100% - 1rem); /* TODO: duplicated for searchbar and basecontent, move into a mixin or something */
  max-width: 1024px;
}

.BaseContent_content {
  background-color: #fff;
  border-radius: 4px;
  flex: 1;
  height: 100%;
  padding: 1rem;
}
.BaseContent_content__isEmpty {
  background-color: transparent;
  color: #999;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BaseContent_breadcrumb {
  font-size: 14px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .BaseContent_content,
  .BaseContent_breadcrumb {
    margin-top: 1rem;
    width: calc(100% - 4rem);
  }
}

@media (min-width: 1024px) {
  .BaseContent_content,
  .BaseContent_breadcrumb {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1248px) {
  .BaseContent_content,
  .BaseContent_breadcrumb {
    width: calc(100% - 16rem);
    max-width: 1248px;
  }
}
