.NavBar {
  --navbar-height: 48px;
  background-color: #FFE600;
  display: flex;
  height: var(--navbar-height);
}

.NavBar_innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  position: relative;
  margin: .5rem auto;
  max-height: 100%;
  width: calc(100% - 1rem); /* TODO: duplicated for searchbar and basecontent, move into a mixin or something */
  max-width: 1024px;
}

@media (min-width: 768px) {
  .NavBar {
    --navbar-height: 56px;
  }

  .NavBar_innerContainer {
    width: calc(100% - 4rem);
  }
}

@media (min-width: 1024px) {
  .NavBar_innerContainer {
    width: calc(100% - 8rem);
  }
}

@media (min-width: 1248px) {
  .NavBar_innerContainer {
    width: calc(100% - 16rem);
    max-width: 1248px;
  }
}

.NavBar_innerContainer > a {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0.25rem;
}
.NavBar_innerContainer > a:first-child {
  transform: scale(1);
  transform-origin: center;
  transition: .3s transform;
}
.NavBar_innerContainer > a:first-child:hover {
  transform: scale(1.05);
}
.NavBar_innerContainer > a:last-child:not(:only-child) {
  padding: .5rem;
  transition: .3s background-color;
}
.NavBar_innerContainer > a:last-child:not(:only-child):hover {
  background-color: #ffffff84;
}
.NavBar_innerContainer > a > img {
  height: 100%;
  width: auto;
}

@media (min-width: 500px) {
  .NavBar_innerContainer > a:last-child:not(:only-child) {
    padding: 0.4rem;
  }
}

@media (min-width: 768px) {
  .NavBar_innerContainer > a:last-child:not(:only-child) {
    padding: 0.6rem;
  }
}
